doctype html
html(lang="en")
    head
        title Cosmos Live Payments
        link(rel="stylesheet" type="text/css" href="/resources/css/style.css")
        block scripts

    body
        block header
        block content
        block footer